.about-section {
  width: 100%;
  padding: 80px 20px;
  text-align: center;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
}

.about-title {
  font-size: 32px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  color: #1e73be; /* blue like the image */
  margin-bottom: 8px;
}

.underline {
  width: 70px;
  height: 4px;
  background-color: #1e73be;
  margin: 0 auto 25px auto;
  border-radius: 3px;
}

.about-text {
  max-width: 650px;
  margin: 0 auto 40px auto;
  font-size: 15px;
  color: #444;
  line-height: 1.6;
}

.learn-more-btn {
    padding: 1% 9%;
    border-radius: 25px;
    border: 1.5px solid #1e73be;
    background: transparent;
    color: #1e73be;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
    box-shadow: #1e73be 0px 3px;
}

.learn-more-btn:hover {
  background: #1e73be;
  color: #fff;
}
