.container {
  /* min-height:100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.0);
  margin-right: 7%;
}

.form-card {
  width: 220px;
  padding: 30px;
  background: rgba(10, 40, 90, 0.75);
  color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.form-card h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-card form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-card input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  color: #fff;
}

.form-card input::placeholder {
  color: #ddd;
}

.form-card button {
  background: #ff7a00;
  padding: 12px;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 8px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-card button:hover {
  opacity: 0.9;
}